/* Smartphone */
@media (max-width: 770px) {
 
    .product {
        width: 100%;
    }

    .description h2 {
        font-size: 24px;
    }

    .description p {
        font-size: 20px;
    }

    .btn-spanduk {
        margin-top: 77px;
    }

    .btn-ybanner {
        margin-top: 54px;
    }

    .btn-lanyard {
        margin-top: 102px;
    }

    .btn-idcard {
        margin-top: 77px;
    }

}

/* Dekstop Smartphone */
@media (min-width: 927px) {

    .btn-ybanner {
        margin-top: 64px;
    }

}
