/* Tablet */
@media (max-width: 1025px){
    .product {
        width: 50%;
    }

    .btn-lanyard {
        margin-top: 21.4vh;
    }

    .btn-spanduk {
        margin-top: 15.8vh;
    }

    .btn-ybanner {
        margin-top: 8.6vh;
    }
    
    .btn-idcard {
        margin-top: 11vh;
    }
}

/* Tablet */
@media (max-width: 769px){
    .product {
        width: 50%;
    }

    .btn-lanyard {
        margin-top: 18vh;
    }

    .btn-spanduk {
        margin-top: 15.8vh;
    }

    .btn-ybanner {
        margin-top: 8.6vh;
    }
    
    .btn-idcard {
        margin-top: 11vh;
    }
}

/* Smartphone */
@media (max-width: 426px) {
 
    .product {
        width: 100%;
    }

    .description h2 {
        font-size: 4.5vw;
    }

    .description p {
        font-size: 3.5vw;
        line-height: 4vh;
    }

    .btn-lanyard {
        margin-top: 14.1vh;
    }

}
