* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Lucida Grande";
}

header {
    background-image: url("img/Foto slider/Celengan.png");
    background-size: 100%;
    background-size: cover;
    height: 600px;
}

.container {
    margin: 40px 0px;
    width: 100%;
    /*border: 2px solid blue;*/
    background-color: darkgrey;
}

/*Title Container*/
.section-title {
    text-align: center;
    font-family: 'Beau Rivage', cursive;
    font-size: 40px;
    margin-bottom: 40px;
}

.product {
    width: 50%;
    float: left;
    height: auto;
}

.clear {
    clear: left;
}

.pr1 {
    background-color: #0e3145;
    color: white;
}

.pr2 {
    background-color: #efedec; 
    color: black;
}

.pr3 {
    background-color: #ab9581;
    color: white;
}

.pr4 {
    background-color: #69c5bd;
    color: white;
}

.description {
    width: 50%;
    float: left;
    height: 100%;
    padding: 20px 40px;
}

.description h2 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: normal;
}

.description p {
    /*line-height: 5px;*/
    font-size : 18px;
    line-height: 24px;
    opacity: 0.7;
}

.wrapper-img {
    width: 50%;
    float: right;
    height: 100%;

}

.product-img {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    float: right;
}

.product-img img {
    width: 100%;
    border-radius: 100%;
    border: 4px dashed gray;
}

.btn-spanduk {
    margin: 25px 0px;
}

.btn-idcard {
    margin: 25px 0px;
}

.btn-lanyard {
    margin: 50px 0px;
}

.btn {
    padding: 8px 10px;
    border-radius: 5px;
    color: gray;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    margin: 40px 0px;
}
